
body {
    /* margin: 0; */
    background: black;

}

.title{
    font-size: 6rem;
    color: white;
    text-align: center;
    
}
.sub-title {
    color: white;
    align-content: center;
    font-size: 6rem;
}

.hero {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-items: center; */
}